/* ALL HEADER CSS */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.6s;
    background-color: white;
    padding: 20px 100px;
    z-index: 10;
    border-bottom: 2px solid rgb(240, 240, 240);
}


/*header nav bar*/
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

/*navbar elements*/
header ul li
{
    position: relative;
    list-style: none;
}

/*inside navbar elements*/
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s; 
}

header ul li:hover {
    text-decoration: underline;
    color: black;
}

/*header after sticky*/
header.sticky_nav
{
    padding: 5px 60px;
    background-color: white;
    
}



/*header elements after sticky*/
/*
header.sticky_nav ul li a,
{
    color: black;
}
*/
